.sidebar {
    position: fixed;
    top: 30%;
    right: 0;
    transform: translateY(-50%);
  }
  
  /* .sidebar_icon {
    background-color: #333;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .sidebar_icon:hover {
    background-color: #555;
  }
  
  .sidebar_icon i {
    font-size: 1.7rem;
  } */
  
  .sidebar_items {
    /* background-color: #333; */
    color: rgb(168, 168, 168);
    width: 15vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .sidebar_item {
    display: flex;
    /* align-items: center; */
    /* margin-bottom: 10px; */
    cursor: pointer;
    /* transition: all 0.3s ease-in-out; */
    border-left: 2px solid rgb(168, 168, 168);
  }
  
  .sidebar_item:hover {
    /* background-color: blue; */
    border-left: 2px solid rgb(0, 0, 0);
  }
  
  /* .sidebar_item i {
    font-size: 0.75rem;
    margin-right: 1rem;
  }
   */
   
   .sidebar_item a {
    font-size: 0.875rem;
    padding: 0.25rem 0 0.25rem 0.5rem;
    color:rgb(150, 150, 150);
    text-decoration: none;
  }

  .sidebar_item a:active {
    font-size: 0.875rem;
    padding: 0.25rem 0 0.25rem 0.5rem;
    color:rgb(117, 0, 0);
    text-decoration: none;
  }

  .sidebar_item p {
    font-size: 0.875rem;
    padding: 0.25rem 0 0.25rem 0.5rem;
  }
  .sidebar_item a:hover {
    color: rgb(0, 0, 0);
  }