/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

body {
  background: #ffffff;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

p {
  font-weight: 400;
  color: #344054;
}

.black__container {
  background-color: #000000;
  color: #ffffff;
  padding-bottom: 80px;
}

.white__container {
  background-color: #ffffff;
  color: #000000;
  padding-bottom: 80px;
}

.project__container div {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: 0;
}

.white__container h2 {
  color: #000000;
}

.prototype__link {
  padding: 50px;
  color: #000000;
  font-size: 20px;
  text-align: center;
}

.project__video {
  position: absolute;
  width: auto;
  height: 80vh;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
  opacity: 1;
}

.form {
  border-radius: 2rem;
  width: auto;
  margin: 5rem 1rem;
  padding: 2rem;
  color: #ffffff;
  text-align: center;
}

.form form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem auto;
}

.form input {
  width: 100%;
  padding: 0.8rem 1rem;
  margin: 2rem;
  border: 1px solid #383838;
  border-radius: 0.5rem;
  background-color: #ffffff16;
  color: #ffffff;
  font-size: 1rem;
}

@media only screen and (min-width: 720px) {

  .form {
    width: 40vw;
    margin: 5rem auto;
    padding: 2rem 4rem;
  }
} */