* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  color: #fff;
}

img {
  width: 100%;
}

a:visited {
  /* text-decoration: none; */
  color: #fff;
}

/* project styling */
.project__container div {
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  font-size: 0;
}

.prototype__link {
  padding: 50px;
  color: #fff;
  font-size: 20px;
}

/* .prototype__link a {
  color: #fff;
  font-size: 20px;
} */

.project__video {
  position: absolute; 
  /* right: 0; 
  bottom: 0; */
  /* min-width: 100%; 
  min-height: 100%; */
  width: 70vw; 
  height: auto; 
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}

/* Carousel */
/* .slide img {
  width: 20rem;
  margin: 0 auto;
}

.slide {
  transform: scale(0.2);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  background-color: #fff;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
} */



@media only screen and (min-width: 650px) {
  .project__container {
    padding: 0 15vw 20vh 15vw;
  }
}